@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>


<address>
    Lynton House<br />
    Station Approach, Woking, GU22 7PY<br />
    <abbr title="Phone">Phone: </abbr>
    020 7448 4620
</address>

